body {
  background-color: violet;
  display: flex;
  justify-content: center;
}

h1 {
  width: 70vw;
  text-align: center;
}

input, button {
  margin: 0 10px;
}

button {
  background-color:cadetblue;
  border: none;
  border-radius: 10px;
  width: 70px;
  font-size: 15px;
  font-weight: 600;
  color: aliceblue;
}

button:hover{
  background-color:aqua;
  color: black;
  cursor: pointer;
}

li {
  font-size: 25px;
  margin: 5px;
}